<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div> <form action="/Categoria/Adiciona" method="post">
    <label for="preco">Nome:</label>
    <input id="preco" name="categoria.Nome" />

    <label for="quantidade">Descricao:</label>
    <input id="quantidade" name="categoria.Descricao" /> 

    <input type="submit" />
</form>
    </div>
</body>
</html>
